# OS X
.DS_Store*
Icon?
._*

# Windows
package-lock.json
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
*.log
*.gz
.nyc_output


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# Distribution
dist